/* importing fonts */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
/* font-family: 'Bebas Neue', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
/* font-family: 'Alfa Slab One', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
/* font-family: 'Montserrat', sans-serif; */

:root {
  --main-color: #3d2514;
  --background-color: #ffc045;
  --background-button: #bf2222;
  --header-font: "Alfa Slab One", cursive;
  --main-font: "Bebas Neue", cursive;
  --side-font: "Montserrat", sans-serif;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font) !important;
  font-size: var(--normal-font-size);
  background-color: #fff;
  color: var(--main-color);
}

h1,
h2,
h3 {
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--main-color) !important;
}

span {
  font-family: var(--side-font);
}

p {
  color: #3d2514bf;
}

ul {
  list-style: none;
}

a {
  text-decoration: none !important; 
  color: #fff !important;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

.background {
  background: url("/img/Main-Page/background.jpg");
}

/* Styling Navbar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 1rem;
  z-index: 100 !important;
}
.navbar-brand img {
  width: 150px;
}

.navbar-nav {
  gap: 1rem;
  text-align: right;
  transition: none !important;
  background-color: #ffc045;
}

.navbar-nav .nav-link{
  font-size: 1.5rem;

}

.collapse .scooter{
  visibility: hidden;
}

.nav-link{
  font-size: 1.2rem;
}

@media screen and (min-width: 768px) {

  header{
    position: absolute;
  }

  .nav-link{
    font-size: 1rem;
  }

  .navbar-nav {
    gap: 0rem;
    background: transparent;
  }

  .navbar-nav .nav-item a{
    color: var(--main-color) !important;
  }  
  .collapse .scooter{
    visibility: visible;
  }

}

.navbar-toggler {
  padding: 2px 10px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-toggler-icon {
  width: 1em !important;
  height: 1em !important;
}

.nav-item a {
  letter-spacing: 3px;
}

.nav-item a:hover{
  color: var(--background-button) !important;
}
.nav-right {
  gap: 1rem;
}
.nav-right span {
  font-weight: 800;
  color: var(--main-color);
}

/* Styling Main Page */
main {
  display: flex;
  flex-direction: column;
}
.left-div {
  position: relative;
  top: -70px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .left-div {
    top: 0px !important;
  }
}

.left-div,
.left-div2 {
  order: 2;
}
.left-div p {
  border: dotted 2px var(--main-color);
  max-width: 300px;
}
.left-div h1 {
  font-size: 2.8rem;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
}
.left-div h2 {
  font-size: 2.1rem;
  text-shadow: 2px 2px 0px #ffffff, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 500px) {
  .left-div h1 {
    font-size: 4rem;
  }
  .left-div h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .left-div h1 {
    font-size: 5rem;
  }
  .left-div h2 {
    font-size: 3rem;
  }
}
.right-div,
.right-div2 {
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* promote section  */
.promote {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
}

.right-div2 {
  gap: 1.8rem;
  margin-top: 1rem;
}

/* choose section  */

.choose {
  display: flex;
  flex-direction: column;
}

.choose__header {
  display: flex;
  flex-direction: column;
}

.choose span {
  font-family: var(--main-font);
  font-size: 1rem;
  background: var(--background-color);
  border: solid 2px var(--background-color);
  margin: 0 auto;
  padding: 0px 16px;
  margin-bottom: 20px;
}

.choose h2 {
  font-size: 2rem;
}

.choose p {
  font-size: 0.75rem;
  font-family: var(--side-font);
}
.burger-container {
  gap: 5rem;
}

.burger-container img:hover{
  transform: scale(1.1);
  transition: .3s all;
}
@media screen and (min-width: 768px) {
  .burger-container {
    gap: 0;
  }
}
.burger-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.burger-div h3 {
  font-family: var(--main-font);
  font-size: 1.8rem;
}
.burger-div:nth-child(2) img {
  width: 90%;
}
@media screen and (max-width: 768px) {
  .burger-div:nth-child(2) {
    width: 80%;
    margin: 0 auto;
  }
}
.order-btn {
  font-family: var(--header-font);
  background: var(--background-button);
  border: solid 2px var(--background-button);
  color: #fff;
  padding: 11px 24px 8px 24px;
  font-size: 0.75rem;
  display: block;
  cursor: pointer;
  transition: 0.3s all;
}
/* events page  */
.swiper {
  width: 100%;
}
.card-burger {
  gap: 1rem;
}
.card {
  border: none !important;
  outline: none !important;
  box-shadow: 10px 14px 32px -7px rgba(94, 88, 88, 0.48);
  -webkit-box-shadow: 10px 14px 32px -7px rgba(94, 88, 88, 0.48);
  -moz-box-shadow: 10px 14px 32px -7px rgba(94, 88, 88, 0.48);
}
@media screen and (max-width: 768px) {
  .card-burger {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .card-burger .left-card {
    width: 100% !important;
  }
  .swiper-pagination{
    width: 100% !important;
    bottom: 10px !important;
  }
}
.swiper-pagination{
  width: 40% !important ;
  bottom: 20px  !important;
}
.swiper-pagination-bullet-active{
background: var(--background-color ) !important;
}

/* RESERVATION SECTION  */
.wrapper{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.ketchup,.burger2,.burger1{
 width: 20%;
}
.burger1{
  position: absolute;
  left: 0;
  top: -22px;
}
.burger2{
  position: absolute;
  right: 0;
}
.input-box,.left-input,.right-input{
  gap: 1rem;
}
.left-input input,.right-input input{
  padding: 20px 15px;
}

.left-input input:focus,.right-input input:focus{
  outline: solid 1px rgb(243, 106, 106);
  border:solid 1px rgb(243, 106, 106);
}
.btn-reserve{
  background: var(--background-button);
  border: solid 2px var(--background-button);
  padding: 20px 30px;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  font-family: var(--header-font);
  cursor: pointer;
}
@media screen and (max-width:450px) {
  .left-input input,.right-input input,.btn-reserve{
    padding: 5px 10px;
  }
  .btn-reserve{
    font-size: .95rem;
  }
}

/* footer section  */
.footer{
  background: url("/img/Footer/FooterBackground.jpg") no-repeat;
  position: relative;
  color: #fff !important;
  display: flex;
  flex-direction: column;
}

.footer img{
  max-width: 250px;
}

.footer-wrapper{
  display: flex;
  justify-content:space-between;
}

.footer-wrapper p {
  max-width: 400px;
  color: #fff;
  font-family: var(--side-font);
  font-size: .85rem;
}

.contact-icons{
display: flex;
flex-direction: column;
}

.lower-footer{
  display: flex;
  justify-content: space-between;
}
.lower-footer span{
  font-size: .85rem;
  font-family: var(--main-font);
}

.social-icons{
  gap: .75rem;
}

.social-icons i{
  background: white;
  color: black !important;
  display: inline-block;
  border-radius: 20px;
  padding: 0 4px;
}

.social-icons i:hover{
  border: solid 2px var(--background-button) !important;
  background: var(--background-button);
  color: #fff !important;
  transition: .3s all;
  transform: scale(1.3);
}

@media screen and (max-width:450px) {
  .lower-footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social-icons{
    order: 1;
    margin-bottom: 20px;
  }
  span{
    order: 2;
  }
}







